.mainContainer {
  border: 1px solid red;
  height: 100vh; /* cascade fallback for non-chrome browsers*/
  height: 100svh;
  font-family: 'Untitled Sans Regular';
  font-weight: 100;
  padding: 2rem;
  display: flex;
  justify-content: center;
}


.components {
  width: min(53.125rem, 90%);
  /* border: 1px solid var(--primary-purple-bg-color); */
}

