.tabs {
    display: flex;
    position: relative;
  }
  
  li:nth-child(2).isSelected ~ .slider {
    border-color: var(--primary-purple-bg-color);
  }
  
  .listItem{
    height: 2.5rem;
    width: 4.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-gray-text-color);
    position: relative;
  }

  .listItem:hover {
    cursor: pointer;
  }
  
  .listItem.isSelected {
    color: var(--primary-black-text-color);
  }
  
  
  .borderBar {
    border: 1px solid var(--primary-gray-bg-color);
  }
  
  .slider {
    border: 1px solid var(--primary-purple-bg-color);
    width: 4.4rem;
    position: absolute;
    bottom: -2px;
    left: -1px;
    z-index: 2;
  }